.div11 p {
  font-family: Georgia;
  font-size: 30px;
}
.div10 p {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
  font-size: 14px;
}
.div10 p.sub1 {
  font-weight: 100;
}
.div10 p.sub2 {
  font-weight: 200;
}
.div10 p.sub3 {
  font-weight: 300;
}
.div10 p.sub4 {
  font-weight: 400;
}
.div10 p.sub5 {
  font-weight: 500;
}
.div10 p.sub6 {
  font-weight: 600;
}
.div10 p.sub7 {
  font-weight: 700;
}
.div10 p.sub8 {
  font-weight: 800;
}
.div10 p.sub9 {
  font-weight: 900;
}
.div9 div {
  width: 500px;
  height: 80px;
  margin: 20px;
  border: 1px solid #999;
}
.div9 .div9-1 {
  background-image: linear-gradient(90deg, #000 0%, #ffc 30%, #fcf 50%, #cff 70%, #000 100%);
}
.div9 .div9-2 {
  background-image: repeating-linear-gradient(45deg, #ffc 10px, #ffc 20px, #fcf 20px, #fcf 30px);
}
.div8 {
  overflow: hidden;
}
.div8 div {
  float: left;
  width: 80px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.div8 .div8-1 {
  border-radius: 40px/20px;
  background-color: #cff;
}
.div8 .div8-2 {
  width: 120px;
  border-radius: 5px/20px;
  background-color: #fcf;
}
.div7 ul {
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 0, 0, .1);
  overflow: hidden;
  list-style: none;
}
.div7 ul li {
  float: left;
  width: 40px;
  height: 40px;
  border: 1px rgb(0, 0, 0) solid;
}
.div7 ul li:not(:first-child) {
  margin-left: -1px;
}
.div6 ul :nth-child(3n) {
  color: red;
}
.div5 p:first-line {
  font-size: 50px;
}
.div5 p:first-letter {
  color: red;
}
.div4 {
  position: relative;
  width: 200px;
  height: 150px;
  background-color: #cfc;
}
.div4-1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 30px;
  margin: auto;
  background-color: #fcc;
}
.div3 {
  width: 200px;
  height: 200px;
  background-color: #ccffcc;
  border: 8px solid #fcc;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2),
    2px 8px 0 -3px #f6f6f6,
    2px 9px 1px -2px rgba(0, 0, 0, 0.2),
    4px 16px 0 -6px #f6f6f6,
    4px 17px 1px -5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.div1 div {
  width: 50px;
  height: 50px;
  float: left;
}
.div1-1 {
  background-color: #ffcccc;
  /*margin-right: -20px;*/
}
.div1-2 {
  background-color: #ccffcc;
  margin-left: -20px;
}
